.list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 4px;

}

.item {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
     align-items: center;
   
}

.contact {
    margin-right: 30px;
}
 .btn {
    text-decoration: none;
    cursor: pointer;
    width: 80px;
    height: 30px; 
    font-weight: bold; 
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    background: #ffffff;
} 

 .btn:hover {
    background:#2e81f6;
    color: #FFFFFF;
    border: none;
} 